//@see vuetify-material-color https://vuetifyjs.com/ja/styles/colors/
$white_color: #fff;               // white
$concept_color: #bf360c;          // red darken-1
$concept_lighten_color: #fff3e0;  // orange lighten-5
$green_color: #4caf50;            // green
$black_color: #424242;            // grey darken-3
